
$lightColor: #FFF;     //60% 
$primaryColor: #36b5ff;  //30%
$sucessColor: #7Cd957;   //10%
$secondaryColor: #afadad;
$darkColor: #1C2728;


$lightTextColor: #FFF;
$primaryTextColor: #36b5ff;
$sucessTextColor: #7Cd957;
$secondaryTextColor: #afadad;
$dangerTextColor: #fe5d5d;
$darkTextColor: #222;